#include <windows.h>
#include <version.h>
#include <mi/base/config.h>

#define VER_DEBUG                   0
#define VER_PRERELEASE              0
#define VER_FILEFLAGSMASK           VS_FFI_FILEFLAGSMASK
#define VER_FILEOS                  VOS_NT_WINDOWS32
#define VER_FILEFLAGS               0

#define VER_FILETYPE                VFT_DLL
#define VER_FILESUBTYPE             VFT2_UNKNOWN

#define VER_COMPANYNAME_STR         MI_COPYRIGHT_COMPANY_STRING
#define VER_PRODUCTNAME_STR         "mdl_distiller"
#define VER_LEGALCOPYRIGHT_YEARS    MI_COPYRIGHT_YEARS_STRING
#define VER_LEGALCOPYRIGHT_STR      MI_COPYRIGHT_COPYRIGHT_STRING

#define VER_PRODUCTVERSION          MI_VERSION_CSV
#define VER_PRODUCTVERSION_STR      MI_VERSION_STRING
#define VER_DATE                    MI_DATE_STRING
#define VER_FILEDESCRIPTION_STR     "mdl_distiller"

#define VER_INTERNALNAME_STR        "mdl_distiller n"
#define VER_ORIGINALFILENAME_STR    TARGET_FILENAME /* from rc command line */

#include <base/system/main/common.ver>
